@import 'variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('./../img/moroccan-flower-dark.webp');
  background-blend-mode: multiply;
  background-color: $bgColor;
  font-family: $textFont;
  overflow: hidden;
}

::selection {
  background-color: $hoverColor;
  color: $bgColor;
  border-radius: 10px;
}

::-webkit-scrollbar {
  background-color: $bgColor;
  border-radius: 10px;
  width: 1vmin;
}

::-webkit-scrollbar-thumb {
  background-color: $secondaryColor;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: $bgColor;
  border-radius: 10px;
}