@import 'variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('./../img/moroccan-flower-dark.webp');
  background-blend-mode: multiply;
  background-color: $bgColor;
  font-family: $textFont;
}