@import 'variables.scss';

%title {
  text-align: center;
  margin: 2vmin;
  font-size: 3.5vmin;
  font-family: $headerFont;
  color: $secondaryColor;
  border-bottom: 2px solid $secondaryColor;
}

%btn {
  width: 50%;
  font-size: 2vmin;
  font-weight: bold;
  color: $primaryColor;
  background: linear-gradient(180deg, $bgColor 0%, $hoverColor 100%);
  border-radius: 5px;
  padding: 2vmin;
  transition-duration: .4s;
  border: 2px solid $hoverColor;
  margin: 2vmin;
  text-align: center;

  &:hover {
    cursor: pointer;
    border-color: $primaryColor;
  }
}

%arrayTile {
  @include tile(60vw, 40vh);
  overflow-y: auto;
  position: relative;

  h2 {
    @extend %title;
    position: fixed;
    width: 58vw;
    margin-top: -.01vmin;
    padding: 2vmin;
    background-color: $supportColor;
  }

  .data {
    margin-top: 8vmin;
    padding: 2vmin;
    text-align: justify;
    color: $secondaryColor;

    .info {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 20vh;
      font-size: 6vmin;
      font-weight: bold;
      color: $hoverColor;
      text-align: center;
      transition-duration: .4s;
    }
  }

}