@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Roboto+Mono&display=swap');

$primaryColor: #73BF8E;
$secondaryColor: #A68A56;
$bgColor: #010A26;
$supportColor: #014034;
$hoverColor: #01261F;

$headerFont: 'Lemon', serif;
$textFont: 'Roboto Mono', monospace;